.side-bar 
  .side-bar_user-name
    .side-bar_user-name_top-items
      .side-bar_user-name_top-items__name
        %p aaaa
      %ul.side-bar_user-name_top-items__icon
        %li<
        .side-bar_user-name_top-items__icon__edit
        = link_to "#" do
          %i.far.fa-edit
          
        %li<
        .side-bar_user-name_top-items__icon__config
        = link_to "#" do
          %i.fas.fa-cog
  .side-bar_group-box
    .side-bar_group-box_name
      techchamp
    .side-bar_group-box_message
      まだメッセージはありません
          
