*:not(side-bar_user-name_top-items) {
  box-sizing: border-box;
}


.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  
  &_user-name {
    position: relative;
    width: 300px;
    height: 100px;
    background-color: #253141;
    &_top-items{
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 260px;
      margin:  auto;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      &__name{
        width: 60px;
        height: 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
      &__icon{
        width: 37px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        i{
          color: white;
        }
      }
    }
  }
  &__groups{
    height: 91px;
    font-weight: bold;
    color: #ffffff;
    position: fixed;
    &__group{
    margin-left: 20px;
      a{color: white;
        text-decoration: none;}
    &__name{
    font-size: 15px;
    width: 260px;
    margin: 20px 20px 5px 0;
    }
    &__message{
      font-size: 11px;
      width: 260px;
      
    }
   }
  }
}


.main-chat{
  
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #fafafa;
  position: relative;
  &_group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px #eeeeee solid;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &_test{
    color: #333333;
    font-size: 20px;
    padding-top: 35px;
    font-weight: bold;
    &_menber{
      font-size: 12px;
      color: #999999;
      padding-top: 15px;
      width: 700px;
      display: flex;
      ul{
        display: flex;
        li{
        margin-left: 10px;
        }
      }
    }
    }
    &_edit{
    a{color: #38aef0;
      text-decoration: none;}
    font-size: 16px;
    height: 40px;
    width: 72px;
    line-height: 40px;
    padding-left: 20px;
    margin-top: 28px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
    }
  }
  &__space{
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    padding-left: 40px;
    overflow: scroll;
    .message-box{
      margin-top: 35px;
    }
    &__box{
      display: flex; 
      justify-content: space-between;
      &__name{
        font-size: 16px;
        color:#333333;
        font-weight: bold;
      }
      &__day{
        font-size: 12px;
        color: #999999;
        padding-right: 40px;
      }
    }
    &__hello{
      font-size: 14px;
      color: #434A54;
      margin: 12px 0 46px 0;
    }
  }


  
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    .new_message{
      display: flex;
    }
    &__input{
    position: relative;
    display: flex;
    width: 100%;
    &__box__text{
      height: 50px;
      padding:0 40px 0 10px;
      color: #999999;
      border-style: none;
      width: 100%;
      
    }
    .icon{
      position: absolute;
      right: 10px;
      top: 10px; 
      font-size: 1.3rem;
     
    }
    .hidden{
      display: none;
}

}
    .form__submit{
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      height: 50px;
      border: solid 1px rgb(216,216,216);
    }
  }
}
